# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches:
      - "master"

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Go 1.19.x
      uses: actions/setup-go@v5
      with:
        # Semantic version range syntax or exact version of Go
        go-version: '1.24.x'
        
    - name: Setup hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: "0.64.0"

      
    - name: make directory
      run: mkdir -p themes/beautifulhugo && git clone https://GitHub.com/halogenica/beautifulhugo.git themes/beautifulhugo
     
    - name: run with hugo
      run: hugo --theme beautifulhugo